.todoList {
  padding: 3rem;

  .todoListContainer {
    padding: 2rem;
    background-color: #fff;
    max-width: 40rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}